@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng');

body {
    font-family: Ma Shan Zheng;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
}

.scroller {
    width: 100%;
    height: 900vh;
    overflow-x: hidden;
    position: relative;
    overflow-y: auto;
}

main {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    perspective: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
}

@media only screen and (max-width: 600px) {
    main {
        font-size: 1.6rem;
    }
}

.chat {
    padding: 1rem;
    transform-style: preserve-3d;
    transform-origin: bottom center;
    transform: translateY(calc(-50% + 10rem)) translateZ(calc(100vh * var(--phase, 0))) rotateX(90deg);
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.chat .dialog {
    height: 100%;
    transform: rotateX(-90deg);
    transform-origin: center bottom;
    flex: 1;
    opacity: calc(1 - var(--focal));
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 100%;
}

.chat .dialog figure {
    display: flex;
    align-items: flex-end;
    position: absolute;
    width: 100%;
}

.chat .dialog figure img {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    -webkit-margin-end: 1rem;
    margin-inline-end: 1rem;
    border: solid 1px rgba(0, 0, 0, 0.3);
}

.chat .dialog figure p {
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    max-width: auto;
    border: solid 1px rgba(0, 0, 0, 0.3);
    font-size: 30px;
    font-family: Ma Shan Zheng;
    color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 600px) {
    .chat .dialog figure p {
        padding: 1rem;
    }
}

.chat .dialog.me {
    justify-content: flex-end;
}

.chat .dialog.me img {
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    -webkit-margin-start: 1rem;
    margin-inline-start: 1rem;
}

.chat .dialog.me figure {
    flex-direction: row-reverse;
}

.chat .dialog.me figure p {
    background-color: #fff;
}

.container {
    text-align: center;
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}

#title {
    font-size: 25px;
    font-weight: bold;
}

#datetime {
    font-size: 20px;
    color: red;
}

.time {
    font-size: px;
    color: black;
}

.heart {
    width: 18px;
    height: 28px;
    border-radius: 32px 33px 0px 0px;
    background-color: rgb(193, 17, 17);
    position: absolute;
    transform: rotate(-51deg);
    display: inline-block;
}

.heart::after {
    content: '';
    width: 18px;
    height: 28px;
    border-radius: 31px 31px 0px 0px;
    background-color: rgb(193, 17, 17);
    position: absolute;
    left: 6px;
    transform: rotate(103deg);
    top: 8px;
}

